* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.nav_icon img,.nav_buttons img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}
nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.nav_first{
    display: flex;
    justify-content: left;
}
.nav_icon{
    padding-left: 20px;
    padding-top: 8px;
}

.nav_icon a {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
.search{
    background: rgb(42, 42, 42);
    border-radius: 450px;
    cursor: pointer;
    padding-inline-end: 300px;
    height: 40px;
    padding-left: 36px;
}
.border_left{
    border-right: 2px solid white;
    border-radius: 0%;
}
.nav_buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    all: unset;  
    padding: 8px 16px;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease;
    font-weight:bold;
}


.login_button{
    background-color: white;
    color: #191414;
    font-weight: bold;
}
.signup_button{
    border:1px solid white;

}

.home_left{
    background-color: #282828;
    width:28%;
    margin:0.5%;
    padding: 15px;
    height: 575px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-right: 35px;
}
.home_left_panel1{
    background-color: #282828;
    width:100%;
    margin:0.5%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    padding-right: 35px;
}
.box_home_left1{
    background-color: #3b3838;
    border-radius: 8px;
    padding: 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box_home_left1_button{
    background-color: white;
    color: #191414;
    font-weight: bold;
    padding: 8px 10px;
}

 
